body {
    padding: 0;
    margin: 0;
    background-color: #696969;
    background-image: url('./images/poolBg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Anton", sans-serif;
    color: white;
    text-shadow: 1px 0 tomato, 0 1px tomato, 1px 0 tomato, 0 1px tomato, 5px 5px tomato, 4px 4px tomato, 3px 3px tomato, 3px 3px tomato, 2px 2px tomato, 2px 2px tomato, 2px 2px tomato, 1px 1px tomato;
}

#headerWrapper {
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
    justify-content: center;
}

.leagueLogo {
    height: 33vh;
    transform-origin: left;
    transform: translateY(50%) rotate(-20deg);
    margin-left: 3rem;
    filter: drop-shadow(.2rem .2rem .3rem tomato);
}

/* INTERACTIVE LINKS*/
#interactiveWrapper {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
}

.interactive-container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 3rem;
}

.main-text {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    margin: 0;
}

.hiddenLink {
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.hiddenLink:hover {
    color: tomato;
}

/* Base State: Hidden completely from the document flow on mobile by default */
.links-wrapper {
    display: none;
    flex-direction: column;
    gap: 2rem;
}

#upcomingH3 {
    font-size: 2.5rem;
}

#upcomingWrapper li {
    color: #FFF;
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    line-height: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}




#aboutWrapper {
    display: flex;
    flex-direction: row;
}

#upcomingH3 {
    margin-left: 2rem;
}



/* ========================================================================== 
   1. DESKTOP ONLY REGION (Hover Upward Mechanics)
   ========================================================================== */
@media (min-width: 976px) {
    .interactive-container:hover .links-wrapper {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .links-wrapper {
        display: flex;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 15px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
}



@media screen and (max-width: 975px) {
    .leagueLogo {
        height: 7rem;
    }

    #interactiveWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .interactive-container {
        margin: 1.5rem;
    }

    .links-wrapper {
        position: static;
        transform: none;
        display: none;
    }

    .links-wrapper.show-links {
        display: flex;
        margin-top: 15px;
    }
}

@media screen and (max-width: 700px) {
    #aboutWrapper {
        flex-direction: column;
    }

    #upcomingH3 {
        margin-top: 5rem;
    }
}


@media screen and (max-width: 450px) {
    
}

@media screen and (max-width: 450px) {
    #interactiveWrapper {
        margin-top: 2rem;
    }

    .logoWrapper {
        display: flex;
        justify-content:center;
    }

    .leagueLogo {
        margin: 0;
        height: 20vh;
    }

    #marginTop1Rem {
        margin-top: 3rem;
    }
}


