@font-face {
    font-family: 'Cherry Soda';
    src: url('CherrySoda-Regular.woff2') format('woff2'),
        url('CherrySoda-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

