body {
    padding: 0;
    margin: 0;
    background-color: #79BAEC;
}

/* rgb(19, 48, 97); */


.noDecoration {
    text-decoration: none;
    color: #FFF;
}

.positionImages {
    height: 10vmin;
}

#wedTeamSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.teamStandingsTable {
    display: flex;
    align-self: flex-start;
}

.teamH2 {
    font-size: 1.5rem;
    letter-spacing: 20%;
    position: absolute;
    left: 0;
    top: 45%;
    margin: 0 0 0 1.5rem;
    white-space: nowrap;
    transform-origin: left center;
    transform: translateY(135%) rotate(-90deg);
}

.cardRoster p {
    line-height: 2rem;
    margin: 0;
    padding-bottom: 1rem;
}

.normalSpace {
    word-spacing: normal;
}

.tableContainer {
    margin-left: 2rem;
}

.col-fixed {
    position: sticky;
    left: 0;
    z-index: 2s;
    overflow: visible;
}

.singlesTableWrap {
    width: 100vw;
    max-width: 100%;
    overflow-x: auto;
}

.singlesTable {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
}

.singlesTable th,
.singlesTable th:nth-child(2), 
.singlesTable th:nth-child(3) {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgba(0, 83, 128);
    outline: 2px solid #79BAEC;
    }

.singlesTable td:nth-child(1) {
    background: rgba(0, 83, 128);
    outline: 2px solid #79BAEC;
    color: white;
}

.section100vw,
.singlesTableWrap {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.teamStandingsTable th,
.teamStandingsTable td,
.singlesTableWrap th,
.singlesTableWrap td {
    padding: .75rem;
    text-align: center;
    outline: 2px solid #79BAEC;    
}


.hideTh {
    display: none;
}


.topHalfRem {
    margin-top: .5rem;
}

#teamCards {
    display: flex;
    flex-direction: row;
}

.teamCard {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0, 83, 128, 0.7);
    border-radius: 12px;
    width: 80%;
    margin-bottom: 2rem;
    box-shadow: 10px 5px;
}





.teamTdWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamNameTd {
    padding-left: 1rem;
}

.cardBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.teamImg {
    display: flex;
    width: 40%;
    justify-content: center;
}

.teamImg img {
    height: 25vh;
    padding: .5rem .5rem 1rem .5rem;
    margin-left: 1rem;
}

.cardRoster {
    diplay: flex;
    width: 40%;
}

@media screen and (max-width: 1100px) {
    .teamSection {
        flex-direction: column;
    }

    card .teamCard {
        width: 75vw;
    }

    .teamStandingsTable {
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .teamCard {
        width: 75%;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .teamCard {
        width: 90%;
        justify-content: center;
    }
}

@media screen and (max-width: 575px) {
    .cardBody {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .hideTh {
        display: block;
    }

    .showTh {
        display: none;
    }
}

.teamSection {
    display: flex;
    flex-direction: row;
}

