body {
    padding: 0;
    margin: 0;
    background-color: #79BAEC;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2),
th:nth-child(6),
td:nth-child(6),
th:nth-child(7),
td:nth-child(7),
th:nth-child(10),
td:nth-child(10),
th:nth-child(11),
td:nth-child(11) {
    background-color: lightgray;
}

/* Color Two: Column 3 */
th:nth-child(3),
td:nth-child(3) {
    background-color: tomato;
}

/* Color Three: Columns 4, 5, 8, 9, 12, 13 */
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5),
th:nth-child(8),
td:nth-child(8),
th:nth-child(9),
td:nth-child(9),
th:nth-child(12),
td:nth-child(12),
th:nth-child(13),
td:nth-child(13) {
    background-color: lightblue;
}

th,
td {
    padding: .5rem;
    letter-spacing: 25%;
    text-align: center;
    color: #000;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    line-height: 1.5rem;
    font-weight: bold;
}

th {
    letter-spacing: 33%;
    color: #fff;
    font-size: 1.5rem;
    padding: .75rem;
}

#wedUpcoming {
    margin-top: 2rem;
}